@page
@model odetofood.Pages.R2.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Resturaunts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Resturaunts.ID" />
            <div class="form-group">
                <label asp-for="Resturaunts.Name" class="control-label"></label>
                <input asp-for="Resturaunts.Name" class="form-control" />
                <span asp-validation-for="Resturaunts.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resturaunts.location" class="control-label"></label>
                <input asp-for="Resturaunts.location" class="form-control" />
                <span asp-validation-for="Resturaunts.location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resturaunts.Type" class="control-label"></label>
                <select asp-for="Resturaunts.Type" class="form-control"></select>
                <span asp-validation-for="Resturaunts.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
