@page
@model odetofood.Pages.Restraunts.ClientRestrauntModel
@{
    ViewData["Title"] = "ClientRestraunt";
}

<h1>ClientRestraunt</h1>
<table class="table" id="tbl">

</table>
@section Scripts{
    <environment include="Development">
        @*<script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>

        <script src="~/node_modules/datatables.net-dt/js/dataTables.dataTables.js"></script>
        <link href="~/node_modules/datatables.net-dt/css/jquery.dataTables.css" rel="stylesheet" />*@
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>
    </environment>
<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>

</environment>
    
<script>
    
        $(function () {
        var cusines=["None","Indian","Italian"]
        $.ajax("/api/Resturaunts",
            { method: "get" })
            .then(function (response) {
                $("#tbl").dataTable({
                    data: response,
                    column: [
                        { "data": "Name" },
                        { "data": "Location" },
                        {
                            "data": "cusines", "render": function (data) {
                                return cusines[data]
                            }
                        }

                    ]
                })
            });
    });
    </script>
}