@page "{id:int?}"

@model odetofood.Pages.Restraunts.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<div class="alert alert-danger">
    Are U want to delete @Model.Resturaunt.Name?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes</button>
    <a asp-page="List" class="btn btn-outline-dark"  >Cancel</a>
</form>

